{% extends "SvdCoreBundle::base.html.twig" %}

{% block include_top %}
{% endblock %}

{% block include_bottom %}
{% endblock %}

{% block body %}
    <div id="page">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
